<h3>Hamie Matias</h3>
<h3>Ejercicio Clase 01</h3>

<div>
  <fieldset style="width: 0px;">
    <legend>Ingrese edades</legend>
    <label for="edadUno">Edad 1:</label>
    <br>
    <input id="edadUno" type="number" min="0" [(ngModel)]="edadUno">
    <br>
    <label for="edadDos">Edad 2:</label>
    <br>
    <input id="edadDos" type="number" min="0" [(ngModel)]="edadDos">
    <br><br>
    <button (click)="mostrarResultados()">Calcular</button>
    <button (click)="limpiarCampos()">Limpiar</button>
    <br><br>
  </fieldset>
</div>

<div>
  <fieldset style="width: 0px;">
  <legend>Resultados</legend>
  <label for="suma">Suma: </label>
  <br>
  <input type="number" value={{sumaEdades}}>
  <br>
  <label for="promedio">Promedio: </label>
  <br>
  <input type="number" value={{promedioEdades}}>
  </fieldset>
</div>