<!-- <div class="field">
  <label for="age1">Edad 1</label> 
  <input type="number" name="age1" id="age1" [(ngModel)]="age1">
</div>
<div class="field">
  <label for="age2">Edad 2</label>
  <input type="number" name="age2" id="age2" [(ngModel)]="age2">
</div>
<button (click)="calcular()">calcular</button>
<button (click)="limpiar()">limpiar</button>
<p>{{promedio}}</p>
<p>{{suma}}</p>

<app-ejemplo1></app-ejemplo1> -->

<h3>Hamie Matias</h3>
<h3>Ejercicio Clase 01</h3>

<div>
  <fieldset style="width: 0px;">
    <legend>Ingrese edades</legend>
    <label for="edadUno">Edad 1:</label>
    <br>
    <input id="edadUno" type="number" min="0" [(ngModel)]="edadUno">
    <br>
    <label for="edadDos">Edad 2:</label>
    <br>
    <input id="edadDos" type="number" min="0" [(ngModel)]="edadDos">
    <br><br>
    <button (click)="mostrarResultados()">Calcular</button>
    <button (click)="limpiarCampos()">Limpiar</button>
    <br><br>
  </fieldset>
</div>

<div>
  <fieldset style="width: 0px;">
  <legend>Resultados</legend>
  <label for="suma">Suma: </label>
  <br>
  <input type="number" value={{sumaEdades}}>
  <br>
  <label for="promedio">Promedio: </label>
  <br>
  <input type="number" value={{promedioEdades}}>
  </fieldset>
</div>